---
---
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h2>...and this cool Astro site hosted on Netlify!</h2>

    <p>This is some placeholder text while I work through the tutorial steps.</p>
    <p>So far, things are cool!</p>
</body>
