<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>Learning in Public</h1>
    <p>Some things about learning Astro, in public.</p>
    <p>Always be learning, folks!</p>
</body>
