---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "Making Things Happen"
---
<BaseLayout pageTitle={pageTitle}>
    <h2>All the Things</h2>
</BaseLayout>
